:root {
  --header-color: #ffffff;
  --header-berkres-color: rgb(30, 30, 30);
  --header-options-color: rgb(0,0,0);
  --page-content-color: #ffffff;
  --basic-text-color: #000000;
  --hover-line-color: rgb(40, 40, 40);
  --body: #ffffff;
  --footer: rgb(185, 185, 185);
  --logo: rgb(30, 30, 30);
  --news-article-secondary: rgb(238,238,238);
  --darkmode-button: rgb(230, 230, 230);
  --darkmode-button-text: #000000;
  --header-shadow: rgba(44, 42, 42, 0.624);
  --title-img: rgba(44, 42, 42, 0.400);
  --darkmode-button-hover: rgb(51, 51, 51);
  --darkmode-button-text-hover: rgb(225, 225, 225);
/*   --basic-text-color-inverted: rgb(225, 225, 225); */
  --bool: 0;
  --dark-mode-button-shadow: rgba(36, 36, 36, 0.7);
}

.darkmode {
  --header-color: rgb(23,23,23);
  --header-berkres-color: rgb(230, 230, 230);
  --header-options-color: rgb(230, 230, 230);
  --page-content-color: rgb(23,23,23);
  --basic-text-color: rgb(225, 225, 225);
  --hover-line-color: rgb(230, 230, 230);
  --body: rgb(23,23,23);
  --footer: rgb(8, 8, 8);
  --logo: rgb(100, 100, 100);
  --news-article-secondary: rgb(17,17,17);
  --darkmode-button: rgb(51, 51, 51);
  --darkmode-button-text: rgb(225, 225, 225);
  --header-shadow: rgb(0, 0, 0);
  --title-img: rgb(10, 10, 10);
  --darkmode-button-hover: rgb(230, 230, 230);
  --darkmode-button-text-hover: #000000;
/*   --basic-text-color-inverted: #ffffff; */
  --bool: 1;
  --dark-mode-button-shadow: rgba(151, 151, 151, 0.7);
}

body {
  background-color: var(--body);
  transition: 0.5s;
}

.dark-mode-button {
  width: 32px;
  height: 29px;
  position:fixed;
  background: var(--darkmode-button);
  border: none;
  border-radius: 5px;
  transition: 0.15s;
  color: var(--basic-text-color);
/*   filter: drop-shadow(0px 0px 15px var(--dark-mode-button-shadow)); */
}

.dark-mode-button:hover {
  background-color: var(--darkmode-button-hover);
  color: var(--darkmode-button-text-hover);
  cursor: pointer;
}

.dark-mode-button i {
  transition: 0.15s;
}

.dark-mode-button-mobile {
  display: none;
}

/* .dark-mode-button-mobile:hover {
  background: rgb(168, 168, 174);
} */

.centerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 75px;
  background-color: var(--header-color);
  position: fixed;
  width: 100%;
  filter: drop-shadow(0px 5px 30px var(--header-shadow));
  z-index: 100;
  /*margin-top: 52px;*/
  transition: 0.5s;
}

.lexend-deca-font {
  display: flex;
  margin-right: 77px;
}

.home {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.home:hover {
  cursor: pointer;
}

.home:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 47px;
  background: var(--hover-line-color);
  transform: scaleX(0);
  transition: transform 0.06s linear;
  position: fixed;
}

.home:hover:before {
  transform: scaleX(1);
}

.news {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.news:hover {
  cursor: pointer;
}

.news:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 44px;
  background: var(--hover-line-color);
  transform: scaleX(0);
  transition: transform 0.06s linear;
  position: fixed;
}

.news:hover:before {
  transform: scaleX(1);
}

.discography {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.discography:hover {
  cursor: pointer;
}

.discography:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 57px;
  background: var(--hover-line-color);
  transform: scaleX(0);
  transition: transform 0.06s linear;
  position: fixed;
}

.discography:hover:before {
  transform: scaleX(1);
}

.about {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.about:hover {
  cursor: pointer;
}

.about:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 49px;
  background: var(--hover-line-color);
  transform: scaleX(0);
  transition: transform 0.06s linear;
  position: fixed;
}

.about:hover:before {
  transform: scaleX(1);
}

.contact {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.contact:hover {
  cursor: pointer;
}

.contact:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 63px;
  background: var(--hover-line-color);
  transform: scaleX(0);
  transition: transform 0.06s linear;
  position: fixed;
}

.contact:hover:before {
  transform: scaleX(1);
}

.start-img {
  width: 102%;
}

.home-heading {
  display: flex;
  /* background-color: #f9f9f9; */
  width: 90%;
  max-width: 800px;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  color: var(--basic-text-color);
  transition: 0.5s;
}

.home-text {
  display: flex;
  width: 90%;
  max-width: 800px;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 330;
  font-style: bold;
  line-height: 2.1;
  color: var(--basic-text-color);
  transition: 0.5s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--page-content-color);
  margin-top: 50px;
  transition: 0.5s;
}

.content-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--page-content-color);
  z-index: -3;
  margin-top: 50px;
  transition: 0.5s;
}

/* .go-to-about {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  padding: 10px;
  color: rgb(19, 17, 18);
  outline: none;
  background: transparent;
  border: 1px solid rgb(19, 17, 18);
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: bold;
  transition: 0.15s;
} */

/* .go-to-about:hover {
  background-color: rgb(19, 17, 18);
  color: #f0f0f0;
} */

.about-artwork {
  border: none;
  margin-top: 15px;
  margin-bottom: 65px;
  filter: drop-shadow(0px 5px 13px rgba(44, 42, 42, 0.400));
  width: 400px;
  height: 400px;
}

.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

.home-img {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  object-fit: cover;
  filter: drop-shadow(0px 5px 13px var(--title-img));
  transition: 0.5s;
}

.contact-img {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  object-fit: cover;
  filter: drop-shadow(0px 5px 13px var(--title-img));
  transition: 0.5s;
}

.contact-heading {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 30px;
  transition: 0.5s;
  color: var(--basic-text-color);
}

.lexend-zetta-font {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(202, 209, 209);
  background-color: rgb(30, 30, 30);
  position: fixed;
  width: 100%;
  height: 52px;
  text-decoration: none;
  z-index: 10;
}

.next-article {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--news-article-secondary);
  transition: 0.5s;
}

.berkresmusic-side {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  position: absolute;
  font-style: normal;
  text-decoration: none;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  color: var(--header-berkres-color);
  display: flex;
  left: 77px;
  top: 25px;
  margin-right: 77px;
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
}

.berkresmusic {
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(202, 209, 209);
}

.berkresmusic:hover {
  text-decoration: none;
  cursor: pointer;
}

.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color:#f0f0f0;
  text-shadow: 2px 2px 15px rgb(19, 17, 18);
}

.gallery-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color:#f0f0f0;
  text-shadow: 2px 2px 15px rgb(19, 17, 18);
}


.contact-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color:#f0f0f0;
  text-shadow: 2px 2px 15px rgb(19, 17, 18);
}

.contact-on-page {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.contact-on-page:hover {
  cursor: pointer;
}

.contact-on-page:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 63px;
  background: var(--hover-line-color);
  transform: scaleX(1);
  transition: transform 0.06s linear;
  position: fixed;
}

.about-on-page {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.about-on-page:hover {
  cursor: pointer;
}

.about-on-page:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 49px;
  background: var(--hover-line-color);
  transform: scaleX(1);
  transition: transform 0.06s linear;
  position: fixed;
}

.news-on-page {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.news-on-page:hover {
  cursor: pointer;
}

.news-on-page:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 44px;
  background: var(--hover-line-color);
  transform: scaleX(1);
  transition: transform 0.06s linear;
  position: fixed;
}

.signature {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: -70px;
  transition: 0.15s;
}

/* .signature.active {
  filter: invert(var(--bool));
} */

.logo {
  color: var(--logo);
  transition: 0.15s;
  padding: 5px;
}

.logo:hover {
  opacity: 0.7;
}

.logo-fr {
  color: var(--logo);
  transition: 0.15s;
  display: block;
}

.logo-fr:hover {
  opacity: 0.7;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: var(--header-berkres-color);
  transition: 0.15s;
  border-radius: 5px;
}

.home-on-page {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

/*.home-on-page:hover {
  cursor: pointer;
}*/

.home-on-page:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 47px;
  background: var(--hover-line-color);
  transform: scaleX(1);
  transition: transform 0.06s linear;
  position: fixed;
}

.discography-on-page {
  margin-left: 36px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: var(--header-options-color);
  transition: 0.15s;
  text-decoration: none;
}

.discography-on-page:hover {
  cursor: pointer;
}

.discography-on-page:before {
  content: "";
  position: absolute;
  top: 48px;
  height: 2px;
  width: 57px;
  background: var(--hover-line-color);
  transform: scaleX(1);
  transition: transform 0.06s linear;
  position: fixed;
}

.contact-form {
  width: 90%;
  max-width: 600px;
/*   background-color: #555; */
}

.input-group {
  margin-bottom: 35px;
  position: relative;
}

.input-contact {
  width: 96%;
  padding: 10px;
  outline: 0;
  border: 1px solid #666;
/*   border-radius: 5px; */
  color: var(--basic-text-color);
  background: transparent;
  font-size: 14px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 330;
  font-style: bold;
  transition: 0.5s;
}

.textarea-contact {
  width: 96%;
  padding: 10px;
  outline: 0;
  border: 1px solid #666;
  color: var(--basic-text-color);
  background: transparent;
  font-size: 14px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 330;
  font-style: bold;
  resize: vertical;
  transition: 0.5s;
}

.label-contact {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: var(--basic-text-color);
  cursor: text;
  transition: 0.14s;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 330;
  font-style: bold;
}

.submit-button {
  padding: 10px 0;
  color: var(--basic-text-color);
  outline: none;
  background: transparent;
  border: 1px solid #666;
  width: 100%;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 330;
  font-style: bold;
  margin-bottom: 80px;
  transition: 0.15s;
}

.submit-button:hover {
  background-color: #666;
  color: white;
}

.input-contact:focus~.label-contact,
.input-contact:valid~.label-contact,
.textarea-contact:focus~.label-contact,
.textarea-contact:valid~.label-contact {
  top: -35px;
  font-size: 13px;
}

.contact-font {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 330;
  font-style: bold;
}

.gallery-row {
  display: flex;
  /* background-color: rgb(138, 82, 13); */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 310px;
  flex-wrap: wrap;
}

.title-row {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(188, 121, 38); */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  font-size: 18px;
}

.title {
  /* background-color: #555; */
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--basic-text-color);
  transition: 0.5s;
}

.gallery-main {
  display: flex;
  justify-content: space-between;
  width: 70%;
  /* height: 1000px; */
  flex-wrap: wrap;
  column-gap: 60px;
}

.image-group {
  height: 390px;
  margin-top: 40px;
}

.year-row {
  display: flex;
  /*background-color: rgb(188, 80, 38);*/
  width: 100%;
  justify-content: space-evenly;
  align-items: start;
  height: 40px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 50px;
}

.year {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-text-color);
  transition: 0.5s;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--footer);
  width: 100%;
  height: 180px;
  transition: 0.5s;
}

.link-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 33px;
  height: 50px;
  width: 600px;
  /* background-color: aquamarine; */
}

.copyright {
  width: 600px;
  height: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  margin-top: 112px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: bold;
  transition: 0.5s;
  color: var(--logo);
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  margin-top: 176px;
  padding: 10px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 460;
  font-style: bold;
  background: var(--darkmode-button);
  border: none;
  border-width: 1px;
  border-radius: 5px;
  transition: 0.15s;
  color: var(--basic-text-color);
}

.dark-mode-toggle:hover {
  background-color: var(--darkmode-button-hover);
  color: var(--darkmode-button-text-hover);
  transition: 0.15s;
  cursor: pointer;
}

.dark-mode-toggle i {
  margin-right: 6px;
}

.news-artwork {
  width: 400px;
  height: 400px;
  /* background-color: #555; */
  object-fit: contain;
  border: 1px var(--basic-text-color) solid;
  margin-bottom: 15px;
  transition: 0.15s;
}

/* .no-orientation {
  width: 300px;
  height: 300px;
  background-color: #555;
  object-fit: contain;
  border: 1px rgb(19, 17, 18) solid;
  
} */

/* .thankfulness {
  width: 300px;
  height: 300px;
  background-color: #555;
  object-fit: contain;
  border: 1px rgb(19, 17, 18) solid;
} */

.artwork {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border: 1px var(--basic-text-color) solid;
  margin-bottom: 10px;
  transition: 0.5s;
}

/* .lavender {
  width: 300px;
  height: 300px;
  background-color: #555;
  object-fit: contain;
  border: 1px rgb(19, 17, 18) solid;
  
} */

/* .leftover {
  width: 300px;
  height: 300px;
  background-color: #555;
  object-fit: contain;
  border: 1px rgb(19, 17, 18) solid;
  
} */

/* .silence {
  width: 300px;
  height: 300px;
  background-color: #555;
  object-fit: contain;
  border: 1px rgb(19, 17, 18) solid;
  
} */

.gallery-grid {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 1466px)
{
  .gallery-main {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    column-gap: 60px;
  }
}

@media screen and (max-width: 950px)
{
  .dark-mode-button {
    display: none;
    left: -200%;
  }

  .home {
    padding-left: 40px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    transition: 0.15s;
    text-decoration: none;
  }

  .home:before {
    display: none;
  }

  .news:before {
    display: none;
  }

  .discography:before {
    display: none;
  }

  .about:before {
    display: none;
  }

  .contact:before {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer);
    width: 100%;
    height: 180px;
  }
  
  .link-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 33px;
    height: 50px;
    width: 300px;
  }
  
  .copyright {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-top: 112px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: bold;
  }

/*   body {
    background-color: var(--body); */
/*     padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }*/

/*   darkmode above is new and can be deleted if causing problem */

  .berkresmusic {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgb(0, 0, 0);
    top: 50px;
  }
  
  .berkresmusic:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .lexend-zetta-font {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(202, 209, 209);
    background-color: rgb(30, 30, 30);
    position: fixed;
    width: 100%;
    height: 52px;
    text-decoration: none;
    z-index: 10;
  }

  .centerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 75px;
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    margin-top: 0px;
    filter: drop-shadow(0px 5px 30px var(--header-shadow));
    z-index: 100;
    transition: 0.2s;
  }

  .centerHeader.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    height: 375px;
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    margin-top: 0px;
    filter: drop-shadow(0px 5px 30px var(--header-shadow));
    z-index: 100;
  }

  .home-on-page:before {
/*     content: "";
    position: absolute;
    top: 50px;
    height: 1px;
    width: 48px;
    background: rgb(0, 0, 0);
    transform: scaleX(1);
    transition: transform 0.06s linear;
    position: fixed; */
    display: none;
  }

  .news-on-page:before {
/*     content: "";
    position: absolute;
    top: 50px;
    height: 1px;
    width: 48px;
    background: rgb(0, 0, 0);
    transform: scaleX(1);
    transition: transform 0.06s linear;
    position: fixed; */
    display: none;
  }

  .discography-on-page:before {
/*     content: "";
    position: absolute;
    top: 50px;
    height: 1px;
    width: 48px;
    background: rgb(0, 0, 0);
    transform: scaleX(1);
    transition: transform 0.06s linear;
    position: fixed; */
    display: none;
  }

  .about-on-page:before {
/*     content: "";
    position: absolute;
    top: 50px;
    height: 1px;
    width: 48px;
    background: rgb(0, 0, 0);
    transform: scaleX(1);
    transition: transform 0.06s linear;
    position: fixed; */
    display: none;
  }

  .contact-on-page:before {
/*     content: "";
    position: absolute;
    top: 50px;
    height: 1px;
    width: 48px;
    background: rgb(0, 0, 0);
    transform: scaleX(1);
    transition: transform 0.06s linear;
    position: fixed; */
    display: none;
  }

  .lexend-deca-font {
    position: fixed;
    right: -150%;
    top: 80px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 25px;
    transition: 0.2s;
    opacity: 0;
  }

  .lexend-deca-font.active {
    opacity: 1;
    right: -60px;
  }

  .no-orientation {
    width: 230px;
    height: 230px;
    background-color: #555;
    object-fit: contain;
    border: 1px rgb(19, 17, 18) solid;
    margin-bottom: 15px;
  }

  .news-artwork {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: 1px rgb(19, 17, 18) solid;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-right: 77px;
    margin-top: 25px;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
  }

  .hamburger.active {
    margin-top: 25px;
  }
}

@media screen and (max-width: 950px) {
  
  .hamburger {
    display: block;
    margin-right: 35px;
  }

  .berkresmusic-side {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    position: absolute;
    font-style: normal;
    text-decoration: none;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    color: var(--header-berkres-color);
    display: flex;
    top: 25px;
    left: 35px;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
  }

  .dark-mode-button-mobile {
    display: block;
    position: fixed;
    right: 100px;
    height: 30px;
    width: 36px;
    background: transparent;
    border: none;
    border-width: 1px;
    top: 24px;
    color: var(--basic-text-color);
    transition: 0.15s;
  }

  #dark-mode-icon-mobile {
    transition: 0.15s;
  }
}

@media screen and (max-width: 600px) {
  .contact-form {
    width: 90%;
    max-width: 600px;
  /*   background-color: #555; */
  }

  .submit-button {
    padding: 10px 0;
    color: var(--basic-text-color);
    outline: none;
    background: transparent;
    border: 1px solid #666;
    width: 100%;
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
    margin-bottom: 80px;
    transition: 0.15s;
  }
  
  .input-contact {
    width: 96%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
  /*   border-radius: 5px; */
    color: var(--basic-text-color);
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }
  
  .textarea-contact {
    width: 96%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    color: var(--basic-text-color);
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }
}

@media screen and (max-width: 549px) {
  .textarea-contact {
    width: 95.5%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }

  .input-contact {
    width: 95.5%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }
}

@media screen and (max-width: 460px) {
  .berkresmusic-side {
    font-size: 17px;
    top: 27px;
  }
}

@media screen and (max-width: 420px) {
  .dark-mode-button-mobile {
    right: 80px;
  }
}

@media screen and (max-width: 390px) {
  .berkresmusic-side {
    font-size: 16px;
    top: 28px;
  }
}

@media screen and (max-width: 443px) {
  .textarea-contact {
    width: 94.4%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }

  .input-contact {
    width: 94.4%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }
  
  .contact-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color:#f0f0f0;
    text-shadow: 2px 2px 15px rgb(19, 17, 18);
  }

  .gallery-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color:#f0f0f0;
    text-shadow: 2px 2px 15px rgb(19, 17, 18);
  }

  .about-artwork {
    border: none;
    margin-top: 15px;
    margin-bottom: 65px;
    filter: drop-shadow(0px 5px 13px rgba(44, 42, 42, 0.400));
    width: 300px;
    height: 300px;
  }

  .gallery-row {
    display: flex;
    /* background-color: rgb(138, 82, 13); */
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 310px;
    flex-wrap: wrap;
  }
  
  .title-row {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(188, 121, 38); */
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-size: 25px;
  }
}

@media screen and (max-width: 370px) {
  .textarea-contact {
    width: 93%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    color: rgb(19, 17, 18);
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }

  .input-contact {
    width: 93%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    color: rgb(19, 17, 18);
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }

  .copyright {
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-top: 112px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: bold;
    font-size: 13px;
  }

  .berkresmusic-side {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    position: absolute;
    font-style: normal;
    text-decoration: none;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    color: rgb(30, 30, 30);
    display: flex;
    top: 27px;
    left: 35px;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
  }
}

@media screen and (max-width: 325px) {
  .textarea-contact {
    width: 92.4%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    color: rgb(19, 17, 18);
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }

  .input-contact {
    width: 92.4%;
    padding: 10px;
    outline: 0;
    border: 1px solid #555;
    color: rgb(19, 17, 18);
    background: transparent;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: bold;
  }

  .berkresmusic-side {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    position: absolute;
    font-style: normal;
    text-decoration: none;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    color: rgb(30, 30, 30);
    display: flex;
    top: 16px;
    left: 35px;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
  }

  .about-artwork {
    border: none;
    margin-top: 15px;
    margin-bottom: 65px;
    filter: drop-shadow(0px 5px 13px rgba(44, 42, 42, 0.400));
    width: 250px;
    height: 250px;
  }
}
